# Copy this file to .env and fill in the real values. Never commit .env.

# Connection details for API portal of https://api-portal.netztransparenz.de/ that holds the reBAP data. Free registration required!
client_id=<create client, insert client id>
client_secret=<create client, insert client secret>